@import '../_main'
@import 'about'

.splash
  h1
    display: flex
    align-items: baseline

  h2
    a
      color: $white
      text-decoration: underline

      &:active
        text-decoration: none

      &:hover
        text-decoration: none

  @media screen and (min-width: $medium)
    h1
      span
        margin-left: 12px
    svg
      height: 0.9em