<div class="social-icons">
  {{ if isset .Site.Params "twitter" }}
  <a class="social-icons__icon social-icons__icon--twitter" href="https://twitter.com/{{ .Site.Params.twitter }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="feather feather-twitter" viewBox="0 0 24 24" height="24" width="24"
      style="fill:none;stroke-linejoin:round;stroke-width:2;stroke:currentColor">
      <path
        d="M23 3a10.9 10.9 0 0 1-3.1 1.5 4.5 4.5 0 0 0-7.9 3v1A10.7 10.7 0 0 1 3 4s-4 9 5 13a11.6 11.6 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-0.1-0.8A7.7 7.7 0 0 0 23 3z"
        stroke="#fff" /></svg>
  </a>
  {{ end }}
  {{ if isset .Site.Params "github" }}
  <a class="social-icons__icon social-icons__icon--github" href="https://github.com/{{ .Site.Params.github }}">
    <svg xmlns="http://www.w3.org/2000/svg" class="feather feather-github" stroke-linejoin="round"
      stroke-linecap="round" stroke-width="2" stroke="currentColor" fill="none" height="24" width="24">
      <path
        d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 00-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0020 4.77 5.07 5.07 0 0019.91 1S18.73.65 16 2.48a13.38 13.38 0 00-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 005 4.77a5.44 5.44 0 00-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 009 18.13V22"
        stroke="#fff" /></svg>
  </a>
  {{ end }}
  {{ if isset .Site.Params "linkedin" }}
  <a class="social-icons__icon social-icons__icon--linkedin" href="https://linkedin.com/in/{{ .Site.Params.github }}">
    {{ "<!-- License: https://fontawesome.com/license/free -->" | safeHTML }}
    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="linkedin-in"
      class="svg-inline--fa fa-linkedin-in fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path fill="currentColor"
        d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
      </path>
    </svg>
  </a>
  {{ end }}
</div>